@define-color highlight rgba(117, 241, 250, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: MonaspiceNe Nerd Font;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(24, 24, 27, 0.75);
  color: white;
  min-height: 0;
}

#workspaces button {
  padding: 1px 2px;
  margin: 2px 0px 2px 2px;
  background: transparent;
  border-radius: 2px;
  color: white;
}

#workspaces button.active {
  background: @highlight;
  color: black;
  font-weight: 700;
}

#submap,
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#tray,
#volume {
  border-radius: 4px;
  padding: 1px 6px;
  background: @dark-8;
  margin: 2px 6px 2px 0px;
}

#submap,
#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  color: black;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 6px;
  min-width: 75px;
  border-radius: 5px;
  background: @dark-7;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

#custom-launcher {
  font-family: "MonaspiceNe Nerd Font Propo", "Symbols Nerd Font";
  font-size: 13px;
  padding: 0px 8px;
  margin: 2px 0px 2px 2px;
  border-radius: 4px;
  background: @dark-8;
  color: @highlight;
}

#media {
  color: #42ff9f;
  margin: 2px 0px 2px 80px;
}

#custom-media-animation {
  font-size: 12px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @dark-5;
  font-size: 12px;
}

tooltip {
  background: @dark-9;
  border-radius: 5px;
}

tooltip label {
  color: white;
}

#window {
  font-size: 11px;
  color: @dark-5;
  margin: 2px 0px 2px 8px;
}

#temperature {
  border-radius: 4px;
  padding: 1px 6px;
  background: @dark-8;
  margin: 2px 6px 2px 0px;
}

#temperature.critical {
  background: rgba(227, 81, 73, 1);
  color: black;
}

#custom-power {
  font-size: 13px;
  padding: 0px 8px;
  margin: 2px 6px 2px 0px;
  border-radius: 4px;
  background: @dark-8;
  color: rgba(227, 81, 73, 1);
}

#custom-power:hover {
  background: rgba(227, 81, 73, 1);
  color: white;
}
